body { background: #51c2c5; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 57px; display: flex; }
.block-order-0 { color: #4a4b7; font-size: 19px; margin-bottom: 5px; }
.block-cluster-1 { color: #e235ce; font-size: 20px; margin-bottom: 5px; }
.block-user-2 { color: #baded6; font-size: 18px; margin-bottom: 5px; }
.block-cart-3 { color: #f22394; font-size: 18px; margin-bottom: 5px; }
.block-user-4 { color: #35d80a; font-size: 14px; margin-bottom: 5px; }